
.nav-link{
    color: rgb(107, 103, 103);
    font-family: 'Domine', serif;
}

.navbar-brand {
    font-family: 'Domine', serif;

}

.my-pic {
    max-width: 250px;
    max-height: 250px
}

body {
    background: url(grass-sky.jpg) no-repeat center fixed;
    background-size: cover;
    color: rgb(107, 103, 103);
    font-family: 'Domine', serif;
  }

container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 150px
  
}


.submit-btn {
    display: inline-block;
}