.nav-name{
    color: rgb(73, 214, 214);
}

.nav-link{
    color: rgb(107, 103, 103);
}

.my-pic {
    max-width: 250px;
    max-height: 250px
}

body {
    background: url(grass-sky.jpg) no-repeat center fixed;
    background-size: cover;
  }

.card {
   position: absolute;
}